<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <connectionStrings>
    <add name="DatabaseModel" connectionString="data source=DESKTOP-NI3R7U3;initial catalog=OnlineShop;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
    <add name="OnlineShopDatabaseModel" connectionString="data source=DESKTOP-NI3R7U3;initial catalog=OnlineShop;persist security info=True;user id=sa;password=1234$;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>